<div class="container">
    <div class="f">
        <p><strong>Title:</strong>
            <%= link_to_unless_current book.title, book %>
        </p>
        <p><strong>Author:</strong>
            <%= book.author %>
        </p>
        <p>
            <%= book.description %>
        </p>
        <p><strong>Price:</strong> $<%= book.price %>
        </p>
    </div>
</div>

