<div class="row g-3">
    <div class="col-md-6">
      <p><strong>First Name:</strong>
        <%= @user.first_name %>
      </p>
      <p><strong>Last Name:</strong>
        <%= @user.last_name %>
      </p>
      <p><strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p><strong>Password:</strong>
        ••••••
      </p>
    </div>
  </div>